<header th:fragment="header">
    <nav
            class="navbar py-4 navbar-expand-lg ftco_navbar navbar-light flex-row bg-light"
    >
        <div></div>
        <!--        <img-->
        <!--                src="https://png.pngtree.com/background/20210715/original/pngtree-abstract-medical-wallpaper-template-design-banner-background-picture-image_1302897.jpg"-->
        <!--                style="position: absolute; height: 100%; width: 100%; inset: 0px; object-fit: cover; color: transparent;"-->
        <!--        >-->
        <div class="container">
            <div
                    class="row no-gutters d-flex align-items-center px-3 px-md-0 col-md-12"
            >
                <div class="col-lg-2 pr-4 align-items-center justify-content-center">
                    <a class="navbar-brand" th:href="@{/trang-chu}">
                        <img
                                alt="logo"
                                style="width: 100px"
                                th:src="@{/i/{filename}(filename=${home.logoUrl})}"
                        />
                    </a>
                </div>
                <div class="col-lg-10 d-none d-md-block">
                    <div class="row d-flex">
                        <div class="col-md-3 pr-4 d-flex topper align-items-center">
                            <div
                                    class="icon bg-white mr-2 d-flex justify-content-center align-items-center"
                            >
                                <span class="icon-phone2"></span>
                            </div>
                            <span class="text"><span th:text="#{home.phone}">Phone</span>:
                            <span th:text="${home.phoneNumber}"></span></span>
                        </div>
                        <div class="col-md-3 pr-4 d-flex topper align-items-center">
                            <div
                                    class="icon bg-white mr-2 d-flex justify-content-center align-items-center"
                            >
                                <span class="icon-paper-plane"></span>
                            </div>
                            <span class="text">Email:
                            <span th:text="${home.email}"></span></span>
                        </div>
                        <div class="col-md-6 pr-4 d-flex topper align-items-center">
                            <div
                                    class="icon bg-white mr-2 d-flex justify-content-center align-items-center"
                            >
                                <span class="icon-map"></span>
                            </div>
                            <span class="text"><span th:text="#{home.address}">Address</span>:
                            <span th:text="${home.address}"></span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <nav
            class="navbar navbar-expand-lg navbar-dark ftco-navbar-light border-bottom bg-light"
            id="ftco-navbar"
    >
        <div class="container d-flex align-items-center">
            <button
                    aria-controls="ftco-nav"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                    class="navbar-toggler"
                    data-target="#ftco-nav"
                    data-toggle="collapse"
                    type="button"
            >
                <span class="oi oi-menu"></span> Menu
            </button>
            <p class="order-lg-last mb-0">
                <a class="py-2 px-3 text-secondary" th:href="@{/ho-so-benh-nhan}">Tra cứu hồ sơ bệnh
                    nhân</a>
            </p>
            <p class="order-lg-last mb-0" th:if="${session.email}">
                <a class="py-2 px-3 text-secondary" th:href="@{/ho-so-benh-nhan(logout)}">Tài khoản khác</a>
            </p>
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link pl-0" th:href="@{/trang-chu}"><span
                                th:text="#{home.home}">Trang chủ</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/tin-tuc}">Tin tức</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/bac-si}">Bác sĩ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/dich-vu}">Dịch vụ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/dat-lich}">Đặt lịch</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <script>
        // Get the current URL
        var currentUrl = window.location.href;
        console.log("Current URL:", currentUrl);

        var menuLinks = document.querySelectorAll(".navbar-nav a");

        for (var i = 0; i < menuLinks.length; i++) {
            var menuLink = menuLinks[i];
            var linkHref = menuLink.getAttribute("href");
            console.log("Link Href:", linkHref);
            if (currentUrl.includes(linkHref)) {
                menuLink.parentElement.classList.add("active");
                menuLink.classList.add("font-weight-bold");
            }
        }
    </script>
    <script th:src="@{/assets/homepage/js/bootstrap.min.js}"></script>
    <script th:src="@{/assets/homepage/js/jquery.animateNumber.min.js}"></script>
    <script th:src="@{/assets/homepage/js/bootstrap-datepicker.js}"></script>
    <script th:src="@{/assets/homepage/js/jquery.timepicker.min.js}"></script>
    <script th:src="@{/assets/homepage/js/scrollax.min.js}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script th:src="@{/assets/homepage/js/google-map.js}"></script>
    <script th:src="@{/assets/homepage/js/main.js}"></script>
</header>
